@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: my-custom-font-bebas;
    src: url(./fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: my-custom-font-workSans1;
    src: url(./fonts/WorkSans-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: my-custom-font-workSans2;
    src: url(./fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: my-custom-font;
    src: url(./fonts/Heebo-VariableFont_wght.ttf);
}
@font-face {
    font-family: my-custom-font2;
    src: url(./fonts/Kanit-Medium.ttf);
}
@font-face {
    font-family: my-custom-font3;
    src: url(./fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: my-custom-font4;
    src: url(./fonts/SecularOne-Regular.ttf);
}
@font-face {
    font-family: my-custom-font5;
    src: url(./fonts/Inter-VariableFont_slnt_wght.ttf);
}

#main {
    min-height: 100vh;
    display: grid;
    margin: 0;
    grid-template-rows: 1fr 15fr;
    grid-template-columns: 1fr 13fr;
}

h1 {
    margin: 0;
    margin-left: 30px;
    font-size: 2em;
    font-family: my-custom-font-bebas, "Franklin Gothic Medium", "Arial Narrow",
        Arial, sans-serif;
}

header {
    display: flex;
    background-color: #394867;
    font-family: monospace;
    align-items: center;
    color: #ffffff;
    font-size: 1.2em;
    grid-area: 1 / 1 / 2 / 4;
    position: relative;
    margin: 0;
}

.drawer-container {
    display: flex;
    width: 100%;
    justify-content: end;
}

.drawer {
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-right: 20px;
}

.line {
    width: 95%;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 8px;
}

/* Sidebar */
#sidebar {
    display: flex;
    grid-area: 2 / 1 / 3 / 2;
    background-color: #9ba4b5;
    /* grid-template-columns: auto; */
    /* grid-template-rows: minmax(100px, 0.5fr) 100px; */
    /* grid-template-rows: 0.5fr minmax(500px) minmax(100px, 0.1fr); */
    align-items: baseline;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}

#sidebar > * {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 0.8em;
}

#createNewProject {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: calc(100%);
}

#createNewProject * {
    z-index: 10;
}

#createNewProject > *:first-child {
    margin-bottom: 10px;
    font-weight: 600;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 1.4em;
}

#submitNewProject {
    border: none;
    cursor: pointer;
    background-color: #3a4a6b;
}
#submitNewProject:hover {
    background-color: #485a81;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects li {
    display: flex;
    cursor: pointer;
    font-size: 1.3em;
    margin-left: 30px;
    margin-bottom: 10px;
    min-width: 180px;
    font-family: my-custom-font-workSans2;
    font-weight: 500;
}

.projects-title {
    font-size: 1.5em;
    margin-left: 30px;
    font-style: oblique;
    color: rgb(59, 30, 85);
}

#main-list {
    display: flex;
    flex-direction: column;
    /* background-color: #463535; */
    background-color: #e0e5ec;
    padding: 15px 0px 0px 15px;
    grid-area: 2 / 2 /2 / 3;
    height: 100%;
}

#main-list p {
    color: rgb(14, 14, 14);
    font-size: 1em;
    font-family: my-custom-font5;
}
#main-list p:not(:first-child) {
    padding-left: 25px;
}

[id^="todo"] {
    display: flex;
    margin-left: 10px;
    position: relative;
    background-color: #cdd4dd;
    border-left: 32px solid #cdd4dd;
    padding: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 12px;
    width: 90%;
}

div[id^="todo"] p:nth-of-type(2) {
    max-width: 750px;
    min-width: 70px;
}

#projects .show-all-todos {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    border: 2px solid #4a5872;
    border-radius: 3px;
    position: absolute;
    left: -27px;
    top: 11px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
    background-color: #007bff;
    border-color: #007bff;
}

input[type="checkbox"]:checked + label::before {
    content: "✓";
    color: #ffffff;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}

#del-project {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 172px;
    left: 130px;
}

ul {
    position: relative;
}

ul > div {
    display: flex;
    align-items: center;
}
ul > div > i {
    margin-left: 10px;
    margin-right: 5px;
    z-index: 10;
}

.fa-trash-alt {
    cursor: pointer;
    padding: 3px 3px 3px 3px;
    font-size: 1.3em;
}

#checkTodo:active {
    background-color: red;
}

/* Add TO DO Button */
#addButton {
    position: relative;
    background-color: #3a4a6b;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 1px 2px 5px 1px;
    color: #4b3b3f;
    z-index: 2;
}

#addButton:hover {
    background-color: #485a81;
}

.container-add-button {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    position: absolute;
    right: 15px;
}

:root {
    --cell-size: 40px;
    --mark-size: calc(var(--cell-size) * 0.7);
}

#addButton::before,
#addButton::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * 0.12);
    height: var(--mark-size);
    background-color: rgb(253, 253, 253);
    border-radius: 2px;
}

#addButton::before {
    transform: rotate(180deg);
}

#addButton::after {
    transform: rotate(-90deg);
}

/* Edit pop up */
#edit-pop-up {
    display: none;
    width: 500px;
    height: 45%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 10;
}

#submitEdit {
    cursor: pointer;
}

/* POP up Screen */
.pop-up {
    display: none;
    position: fixed;
    width: 90%;
    max-width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 5px;
    overflow: hidden; /* Hide content overflow */
}

.pop-up.empty-project-popup {
    display: none;
    width: 50vw;
    height: 150px;
    background-color: #4a5872;
    padding: 10px;
    justify-content: center;
    align-items: center;

    color: white;
}
.pop-up.empty-project-popup div {
    font-size: 1.1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.empty-project-popup .close-btn {
    top: -5px;
}

.close-btn:hover + .empty-project-popup {
    display: none;
}

/* Close pop up and Edit pop Up BUTTON */
.close-btn {
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Media query for smaller screens */
@media (max-width: 400px) {
    .pop-up {
        width: 90%; /* Adjust the width for smaller screens */
        max-width: none; /* Remove max-width for smaller screens */
    }

    .close-btn {
        top: 5px;
        right: 5px;
    }
}

/* Priority */
.priority {
    margin-top: 10px;
    display: flex;
}

.priority div:not(#priority) {
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-size: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin: 5px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;

    cursor: pointer;
}

#submit {
    cursor: pointer;
}

.bodyClass:not(.pop-up) {
    background-color: rgb(0, 0, 0);
}

.bodyClass > :not(.pop-up) {
    opacity: 0.1;
}

/* Form On click styles */
.low:hover {
    background-color: green !important;
}

.medium:hover {
    background-color: rgb(212, 212, 76) !important;
}

.high:hover {
    background-color: red !important;
}

#projects li {
    position: relative;
    cursor: pointer;
    z-index: 10;
    margin-top: 7px;
}

#projects ul > div > li {
    margin-left: 55px;
}

#projects span {
    position: relative;
    display: inline-block;
}

#projects span.active::after,
#projects span::after {
    content: "";
    position: absolute;

    bottom: -2px;
    left: 0;
    height: 3px;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#projects span:hover::after,
#projects span.active::after {
    opacity: 1;
    left: 0;
    transform: scaleX(1);
}

.fas.fa-edit {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 12px;
    font-size: 1.1em;
    color: #000000;
    align-self: center;
}

#main-list .fas.fa-trash-alt {
    color: #000000;
    align-self: center;
    margin-right: 10px;
    font-size: 1.1em;
}

.drawer-container {
    display: none;
}

@media (max-width: 1000px) {
    #projects li,
    #projects p {
        min-width: 160px;
    }
}
@media (max-width: 800px) {
    #projects li,
    #projects p {
        min-width: 160px;
    }
}

@media (max-width: 670px) {
    #sidebar {
        grid-area: 2 / 3 / 3 / 3;
        z-index: 2;
        display: none;
        max-width: 250px;
    }

    .drawer-container {
        display: grid;
    }

    #main-list {
        grid-area: 2 / 1 / 3 / 3;
    }

    #main-list p:not(:first-child) {
        padding-left: 15px;
    }

    [id^="todo"] {
        width: 90vw;
    }
    [id^="todo"] > p {
        font-size: 2.2vw !important;
    }
}

@media (max-width: 596px) {
    [id^="todo"] {
        width: 87vw;
    }
    [id^="todo"] > p {
        font-size: 0.75em !important;
    }
    #sidebar > * {
        font-size: 0.7em;
    }
    input[type="checkbox"] + label::before {
        width: 13px;
        height: 13px;
        left: -30px;
        top: 15px;
    }

    input[type="checkbox"]:checked + label::before {
        line-height: 11px;
        font-size: 10px;
    }
    [id^="todo"] > .fa-trash-alt,
    .fa-edit {
        font-size: 0.9em !important;
    }

    /* Edit pop up */
    #edit-pop-up {
        width: calc(100% - 100px);
    }

    /* POP up Screen */
    .pop-up {
        width: calc(100% - 100px);
    }
}

@media (max-width: 438px) {
    .pop-up.empty-project-popup div {
        font-size: 0.9rem;
    }
    .pop-up.empty-project-popup {
        padding-right: 34px;
        padding-left: 20px;
    }
}
@media (max-width: 500px) {
    [id^="todo"] {
        width: 85vw;
    }
}
@media (max-width: 450px) {
    [id^="todo"] {
        width: 85vw;
    }
}

@media (max-width: 440px) {
    [id^="todo"] {
        width: 84vw;
    }
}
@media (max-width: 465px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pop-up,
    #edit-pop-up {
        width: 80%;
    }
    .pop-up input:not(#submit):not(#submitEdit),
    #edit-pop-up input:not(#submit):not(#submitEdit) {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: calc(100vw - 220px);
    }
}
/* @media (max-width: 410px) {
    #edit-pop-up {
        width: 310px;
    }
} */

@media (max-width: 372px) {
    [id^="todo"] > p {
        font-size: 0.8em !important;
        min-width: 50px;
    }

    [id^="todo"] {
        display: flex;
        margin-left: 10px;
        position: relative;
        background-color: #cdd4dd;
        border-left: 32px solid #cdd4dd;
        padding: 2px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 12px;
        width: 95%;
    }

    .priority {
        display: flex;
        flex-direction: column;
    }
    form {
        display: flex;
        flex-direction: column;
    }

    #edit-pop-up {
        height: 480px;
    }

    .pop-up input:not(#submit) {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: calc(100vw - 200px);
        min-width: 80px;
    }
    #edit-pop-up input:not(#submitEdit) {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: calc(100vw - 200px);
        min-width: 80px;
    }

    #submitEdit,
    #submit {
        margin-bottom: 10px;
    }

    body {
        min-width: calc(100vw + 45px);
    }
}

@media (max-width: 309px) {
    body {
        min-width: calc(100vw + 95px);
    }
}

@media (max-width: 260px) {
    body {
        min-width: calc(100vw + 145px);
    }
}

@media (max-width: 220px) {
    body {
        min-width: calc(100vw + 190px);
    }
}
@media (max-width: 155px) {
    body {
        min-width: calc(100vw + 240px);
    }
}

@media (max-width: 100px) {
    body {
        min-width: calc(100vw + 355px);
    }
}
@media (max-width: 55px) {
    body {
        min-width: calc(100vw + 450px);
    }
}
